/.metadata/
bin/
*.properties
*.class
02_Variable/
02_VariableExam/
03_Operator/
05_Array/
06_ObjectOrientedProgramming/
07_OOP/
asdf/
Homework2_OOP/
ZConversionExam02/
ZOperatorExam/
build/

32_web/
32_web2/
Web_project/
webpracticeproject/
WebProject/
