<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 순서 지켜서 작성할 것 -->
	<properties resource="driver.properties">

	</properties>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias type="kh.mclass.semim.board.model.dto.BoardListDto" alias="BoardListDtoA"/>
		<typeAlias type="kh.mclass.semim.board.model.dto.BoardReadDto" alias="BoardReadDtoA"/>
		<typeAlias type="kh.mclass.semim.board.model.dto.BoardReplyDto" alias="BoardReplyDtoA"/>
		<typeAlias type="kh.mclass.semim.board.model.dto.BoardInsertDto" alias="BoardInsertDtoA"/>
		
	</typeAliases>

	<environments default="development2">
	<!--  environment중에서 어떤 것을 default로 할 지 정하는 것-->
		<environment id="development1">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
			<!-- properties에 적힌 파일 안의 driver -->
				<property name="driver" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.semi.localhost.url}"/>
				<property name="username" value="${jdbc.username}"/>
				<property name="password" value="${jdbc.password}"/>
			</dataSource>
		</environment>
		
		<environment id="development2">
						<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
			<!-- properties에 적힌 파일 안의 driver -->
				<property name="driver" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.semi.dbserver.url}"/>
				<property name="username" value="${jdbc.semi.username}"/>
				<property name="password" value="${jdbc.semi.password}"/>
			</dataSource>
		</environment>
	</environments>

	<mappers>
		
	</mappers>

</configuration>